{% extends "app/layout.html" %}
{% block content %}

<h2>{{ title }}.</h2>

<h3>Pregunta: {{ question.question_text }}</h3>
{% if message %}<p><strong style="color:green;"><b>{{ message }}</b></strong></p>{% endif %}
{% if error_message %}<p><strong style="color:red;"><b>{{ error_message }}</b></strong></p>{% endif %}

<form action="{% url 'vote' question.id %}" method="post">
{% if not request.user.is_authenticated %}
{% csrf_token %}
{% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
{% endfor %}
{% endif %}
{% if request.user.is_authenticated %}
   <!-- <h1>Question: {{ question.question_text }}</h1>-->

<table class="table">
    <thead>
        <tr class="text-center">
            <td>Choice Text</td>
            <td>Votes</td>
            <td>Answer</td>
        </tr>
    </thead>
    <tbody>
        {% for choice in question.choice_set.all %}
        <tr {% if question.correct_num == forloop.counter %}{% endif %}>
            <td class="text-center">{{ choice.choice_text }}</td>
            <td class="text-center">{{ choice.votes }}</td>
             <td class="text-center">
                {% if choice.correct != True %}
                IN{% endif %}CORRECT
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
    <!--<button type="submit" class="vote btn btndefault">Vote</!--button>-->
    <a href="{% url 'choice_add' question.id %}"><h3>Insertar Opciones</h3></a> 
    <a href="{% url 'chart' question.id %}"> <h3>Ver resultado de la votacion</h3> </a><br />
{% else %}
    <input type="submit" value="Vote" /><br />
    <a href="{% url 'chart' question.id %}"> Ver grafica</a><br />
    <a href="{% url 'index' %}">Contestar otra pregunta?</a>
{% endif %}

</form>
{% endblock %}